.friendList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    width: 30%;
    margin-top: 20px;
    border-radius: 15px;
    padding: 0;
    background-color: rgba(220, 255, 255, 0.692);
}