.statistics {
    text-align: center;
}

.title {
    font-size: 1.4rem;
}

.statList {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    background-color: var(--color);
    padding: 10px;
}

.label {
    color: white;
    filter: drop-shadow(0 0 2px black);
}

.percentage {
    color: white;
    filter: drop-shadow(0 0 2px black);
}